/* media query break points */
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(var(--color-slate-100));
}

@media (min-width: 1200px) {
  #root {
    max-width: 1024px;
  }
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: hsl(var(--color-white));
}
@media (min-width: 700px) {
  main {
    margin: 1.5rem;
    border-radius: 24px;
  }
}
@media (min-width: 1200px) {
  main {
    flex-direction: row;
  }
}

.input-wrapper {
  overflow: hidden;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.5rem;
}
.input-area header {
  width: 100%;
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.input-area header .clear-all {
  width: fit-content;
  border: none;
  background-color: transparent;
  border-bottom: solid 1pt hsl(var(--color-slate-700));
  cursor: pointer;
}
.input-area header .clear-all:focus, .input-area header .clear-all:hover {
  color: hsl(var(--color-slate-900));
  border-bottom: solid 1pt hsl(var(--color-slate-900));
}
@media (min-width: 700px) {
  .input-area header {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .input-area {
    width: 50%;
  }
}

form {
  width: 100%;
}
form label {
  display: block;
}
form label.invalid .input-wrapper {
  border-color: hsl(var(--color-red));
}
form label.invalid .input-wrapper span {
  background-color: hsl(var(--color-red));
  color: hsl(var(--color-white));
}
form fieldset {
  border: none;
  padding: 0;
}
form fieldset legend {
  text-align: left;
}
form fieldset label {
  border-radius: 4px;
  border: solid 1pt hsl(var(--color-slate-500));
  margin-block: 0.5rem;
  padding: 0.5rem;
}
form fieldset label.checked {
  background-color: hsl(var(--color-lime)/0.15);
  border: solid 1pt hsl(var(--color-lime));
}
form fieldset label:hover, form fieldset label:focus {
  border-color: hsl(var(--color-lime));
}
form fieldset .mortgage-type {
  margin-left: 1rem;
}
form button {
  width: 100%;
  background-color: hsl(var(--color-lime));
  padding-block: 1rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
}
@media (min-width: 700px) {
  form button {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  form button {
    width: 67%;
  }
}
form > * {
  margin-block: 1rem;
}
form button:hover, form button:focus {
  background-color: hsl(var(--color-lime)/0.5);
}

/* Custom radio button */
input[type=radio] {
  opacity: 0;
}

/* Custom radio button container */
.custom-radio {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1pt solid hsl(var(--color-slate-900));
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

/* Inner circle for "checked" state */
input[type=radio]:checked + .custom-radio {
  border-color: hsl(var(--color-lime));
}

input[type=radio]:checked + .custom-radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: hsl(var(--color-lime));
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.input-wrapper {
  display: grid;
  border-radius: 4px;
  border: solid 1pt hsl(var(--color-slate-500));
}
.input-wrapper input {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.input-wrapper:hover, .input-wrapper:focus {
  border-color: hsl(var(--color-slate-900));
}
.input-wrapper span {
  background-color: hsl(var(--color-slate-100));
  padding-block: 0.8rem;
  text-align: center;
}
.input-wrapper.input-amount {
  grid-template-columns: 10% 90%;
  grid-template-rows: auto;
}
.input-wrapper.input-term {
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
}
.input-wrapper.input-rate {
  grid-template-columns: 90% 10%;
  grid-template-rows: auto;
}

.input-subcontainer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .input-subcontainer {
    flex-direction: row;
    gap: 1rem;
  }
  .input-subcontainer > * {
    flex: 1;
  }
  .input-subcontainer .input-wrapper.input-term {
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
  }
  .input-subcontainer .input-wrapper.input-rate {
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
  }
}
@media (min-width: 1200px) {
  .input-subcontainer > * {
    width: calc(50% - 0.5rem);
  }
  .input-subcontainer .input-wrapper.input-term {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
  }
  .input-subcontainer .input-wrapper.input-rate {
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
  }
}

.result-area {
  display: grid;
  background-color: hsl(var(--color-slate-900));
  padding: 1.5rem;
}
.result-area > * {
  margin-block: 0.75rem;
}
.result-area .empty-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.result-area .result-card * + * {
  margin-top: 1rem;
}
.result-area .result-subcard {
  background-color: hsla(0, 0%, 0%, 0.25);
  border-top: solid 4pt hsl(var(--color-lime));
  border-radius: 8px;
  padding: 1rem;
}
.result-area .result-subcard hr {
  color: hsla(var(--color-slate-300)/0.25);
}
.result-area .result-subcard * + * {
  margin-top: 1rem;
}
@media (min-width: 1200px) {
  .result-area {
    width: 50%;
    border-radius: 0px 24px 24px 96px;
  }
}/*# sourceMappingURL=App.css.map */